/* Common stylsheet for Todo App */

* {
	border: 1px solid black;
}

.main-login {
	color: lightsteelblue;
}

#mark-page {
	background-color: lightsteelblue;
}

a:hover {
	color: red;
}

p {
	font-family: "Jersey 15", sans-serif;
}

#section > p {
	margin: 50px auto;
	padding: 20px 10px;
}

img {
	display: block;
	margin: 50px auto;
}

@media only screen and (min-width: 700px) {
	* {
		border: 2px solid seagreen;
	}
}

@media only screen and (min-width: 900px) {
	* {
		border: 4px solid indianred;
	}
}